<?xml version="1.0" encoding="utf-8"?>
<manifest package="uz.mold.view_setup"/>

<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
          <!--package="uz.mold.view_setup">-->

    <!--<application-->
            <!--android:icon="@drawable/smartup_launcher_logo"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar">-->

        <!--<activity android:name=".test.TestActivity"-->
                  <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
    <!--</application>-->

<!--</manifest>-->